@model Pessoa


<h1>Cadastro de Pessoas</h1>

<form>
    <input type="text" data-bind="value: id" disabled="disabled" />
    <input type="text" data-bind="value: nome" />
    <button type="submit" data-bind="click : addPessoa">Salvar</button>
</form>


<hr />

<table>
    <thead>
    <th>Id</th>
    <th>Nome</th>
    </thead>
    <tbody data-bind="foreach : Pessoas">
        <tr>
            <td data-bind="text: id"></td>
            <td data-bind="text: nome"></td>
        </tr>
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/knockout/knockout-3.5.1.js" type="text/javascript"></script>




<script type="text/javascript">


    function AppViewModel() {

        var self = this;
        self.id = ko.observable();
        self.nome = ko.observable();

        var Pessoa = {
            Id: self.id,
            Nome: self.nome
        };

        self.Pessoa = ko.observable("");

        self.Pessoas = ko.observableArray("");

        GetPessoas();

        function GetPessoas() {
            // chamara Ajax para pegar todos os funcionarios
            $.ajax({
                type: "GET",
                url: "/Pessoa/GetPessoas",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    self.Pessoas(data); //Poe a resposta no ObservableArray
                },
                error: function(error) {
                    alert(error.status + "<--and--> " + error.statusText);
                }
            });
        }
        //fim

        self.addPessoa = function() {

            console.log(Pessoa);
            $.ajax({
                url: "/Pessoa/CreatePessoa",
                type: "POST",               
                data: ko.toJSON(Pessoa), //problema é que não chega pro meu controller essa informação
                contentType: "application/json; charset=utf-8",
                dataType:'json',
                success: function(data) {
                    alert("Registro incluído com sucesso");
                    self.id(data.id);
                    alert("O novo ID da Pessoa :" + self.id());
                    GetPessoas();
                },
                error: function() {
                    alert("Falhou");
                }
            });
        }
    }

    ko.applyBindings(new AppViewModel());
</script>

