
<div class="row mb-5">
    <div class="col-2">
        <button data-bind="click:createModeButton" class="btn btn-primary btn-lg">Cadastrar</button>
    </div>
    <div class="col-10">
        <form data-bind="submit: getPessoasByName" class="row">
            <div class="col-5">
                <input class="form-control" type="text" name="searchString" placeholder="Pesquisar por Nome" data-bind="value: searchString" />
            </div>
            <div class="col-5">
                <input class="form-control" type="text" name="searchStringCpf" placeholder="Pesquisar por Cpf" data-bind="value: searchStringCpf" oninput="mascara(this)" />
            </div>
            <div class="col-2">
                <input type="submit" class="btn btn-info" value="Pesquisar" />
            </div>
        </form>
    </div>

</div>

<div id="container-fluid">
    <div class="row">

        <div id="listaPessoas" class="col-12">
            <h1>Pessoas</h1>
            <table class="table table-striped">
                <thead>
                <th>Nome</th>
                <th>E-Mail</th>
                <th>CPF</th>
                <th>Data de Nascimento</th>
                <th>Ações</th>
                </thead>
                <tbody data-bind="foreach : Pessoas">
                    <tr>
                        <td data-bind="text: nome"></td>
                        <td data-bind="text: email"></td>
                        <td data-bind="text: cpf"</td>
                        <td data-bind="text: nascimento"></td>
                        <td>
                            <button class="btn btn-danger" data-bind="click: deletePessoa">Excluir</button>
                            <button class="btn btn-primary" data-bind="click: editPessoa">Editar</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <h4> Total de Pessoas: </h4>
                        </td>
                        <td colspan="1">
                            <h4 data-bind="text: contador()"></h4>
                        </td>
                        <td>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" data-bind="click: getPessoasPagination(1)">1</a></li>
                                    <li class="page-item"><a class="page-link" data-bind="click: getPessoasPagination(2)">2</a></li>
                                    <li class="page-item"><a class="page-link" data-bind="click: getPessoasPagination(3)">3</a></li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div id="editPessoas" data-bind="if: Pessoa" style="position:absolute;left:35%;background-color:gainsboro; width:600px">

            <h1 class="text-center">Editar </h1>
            <form data-bind="submit: updatePessoa">
                <input name="Nome" type="text" placeholder="Nome" data-bind="value: Pessoa().nome" class="form-control" />
                <input name="Email" type="email" placeholder="E-mail" data-bind="value: Pessoa().email" class="form-control" />
                <input name="Cpf" type="text" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="CPF (somente números)" data-bind="value: Pessoa().cpf" class="form-control" oninput="mascara(this)" />
                <input name="Nascimento" type="date" placeholder="Data de Nascimento" data-bind="value: Pessoa().nascimento" class="form-control" />
                <hr />
                <div class="text-center mb-2">
                    <button style="margin:10px" class="btn btn-primary" type="submit">Salvar</button>
                    <button class="btn btn-danger" data-bind="click: cancel">Voltar</button>
                </div>
            </form>
        </div>

        <div id="inputPessoas" data-bind="if:createMode()" style="position:absolute;left:35%;background-color:gainsboro; width:600px">
            <h1 class="text-center">Cadastrar</h1>
            <form data-bind="submit: addPessoa">
                <input name="Nome" type="text" placeholder="Nome" data-bind="value: nome" class="form-control" />
                <input name="Email" type="email" placeholder="E-mail" data-bind="value: email" class="form-control" />
                <input name="Cpf" type="text" placeholder="CPF (somente números)" data-bind="value: cpf" class="form-control" pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" oninput="mascara(this)" />
                <input name="Nascimento" type="date" placeholder="Data de Nascimento" data-bind="value: nascimento" class="form-control" />
                <hr />
                <div class="text-center mb-2">
                    <button class="btn btn-primary" type="submit">Salvar</button>
                    <button class="btn btn-danger" type="submit" data-bind="click:createModeButtonFalse">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/knockout/knockout-3.5.1.js" type="text/javascript"></script>




<script type="text/javascript">

    function mascara(i) {

        var v = i.value;

        if (isNaN(v[v.length - 1])) { // impede entrar outro caractere que não seja número
            i.value = v.substring(0, v.length - 1);
            return;
        }

        i.setAttribute("maxlength", "14");
        if (v.length == 3 || v.length == 7) i.value += ".";
        if (v.length == 11) i.value += "-";

    }

    function AppViewModel() {

        var self = this;
        self.id = ko.observable(0);
        self.nome = ko.observable("");
        self.email = ko.observable("");
        self.cpf = ko.observable("");
        self.nascimento = ko.observable("");

        self.searchString = ko.observable("");
        self.searchStringCpf = ko.observable("");
        self.pageNumber = ko.observable(1);

        self.createMode = ko.observable("");


        self.contador = function() {
            return self.Pessoas().length;
        };

        var Pessoa = {
            id: self.id,
            nome: self.nome,
            email: self.email,
            cpf: self.cpf,
            nascimento: self.nascimento
        };

        self.Pessoa = ko.observable();

        self.Pessoas = ko.observableArray([]);

        GetPessoas();

        function GetPessoas() {


            $.ajax({
                type: "GET",
                url: "/Pessoa/GetPessoas",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: {
                    pageNumber: 1
                },
                success: function(data) {
                    console.log(data);
                    self.Pessoas(data);
                },
                error: function(error) {
                    alert(error.status + ", " + error.statusText);
                }
            });
        };

        getPessoasPagination = function (page) {

            pageNumber = page;

            $.ajax({
                type: "GET",
                url: "/Pessoa/GetPessoas",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: {
                    pageNumber: pageNumber
                },
                success: function(data) {
                    console.log(data);
                    self.Pessoas(data);
                },
                error: function(error) {
                    alert(error.status + ", " + error.statusText);
                }
            });
        };

        getPessoasByName = function() {

            var searchString = self.searchString;
            var searchStringCpf = self.searchStringCpf;

            $.ajax({
                type: "GET",
                url: "/Pessoa/GetPessoasByName",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data:
                {
                    searchString: searchString,
                    searchStringCpf: searchStringCpf
                },
                success: function(data) {
                    console.log(data);
                    self.Pessoas(data);
                    self.searchString("");
                    self.searchStringCpf("");
                },
                error: function(error) {
                    alert(error.status + ", " + error.statusText);
                }
            });
        };
        //fim

        addPessoa = function() {

            if (Pessoa.nome() != "") {
                $.ajax({
                    type: "POST",
                    url: "/Pessoa/CreatePessoa/",
                    data: ko.toJSON(Pessoa),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function(data) {
                        self.Pessoas.push(data);
                        self.nome("");
                        self.email("");
                        self.cpf("");
                        self.nascimento("");
                        alert("Registro incluído com sucesso");
                        createModeButtonFalse();
                    },
                    error: function(data) {
                        alert(error.status + ", " + error.statusText);
                        self.nome("");
                        self.email("");
                        self.cpf("");
                        self.nascimento("");
                    }
                });
            }
            else {
                alert("Insira dados válidos!");
            }
        };

        deletePessoa = function(Pessoa) {
            if (confirm("Tem certeza que deseja apagar a pessoa?")) {
                var id = Pessoa.id;
                console.log(id);
                $.ajax({
                    type: "DELETE",
                    url: "/Pessoa/DeletePessoa/",
                    data: ko.toJSON(id),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function(data) {
                        self.Pessoas.remove(Pessoa);
                        alert("Registro excluido com sucesso");
                    },
                    error: function() {
                        alert(error.status + ", " + error.statusText);
                    }
                });
            }
        };

        editPessoa = function(Pessoa) {
            self.Pessoa(Pessoa);
        };

        updatePessoa = function() {
            var pessoa = self.Pessoa;

            console.log(ko.toJSON(pessoa));
            $.ajax({
                type: "PUT",
                url: "/Pessoa/EditPessoa/",
                data: ko.toJSON(pessoa),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(data) {
                    self.Pessoa("");
                    GetPessoas();
                    alert('Registro Atualizado');
                },
                error: function(data) {
                    alert(error.status + ", " + error.statusText);
                    self.Pessoa("");
                }
            });
        }


        cancel = function() {
            self.Pessoa("");
        };

        createModeButton = function() {
            self.createMode(true);
        };
        createModeButtonFalse = function() {
            self.createMode(false);
        };


    }

    ko.applyBindings(new AppViewModel());
</script>

