

<div id="container-fluid">
    <div class="row">
        <div id="inputPessoas" class="col-2">
            <h1>Cadastrar</h1>
            <form data-bind="submit: addPessoa" >
                <input style="margin:0 0 20px 0" name="Nome" type="text" placeholder="Nome" data-bind="value: nome" />
                <input name="Email" type="text" placeholder="E-mail" data-bind="value: email" />
                <hr />
                <button class="btn btn-primary" type="submit">Salvar</button>
            </form>
        </div>
        <div id="listaPessoas" class="col-8">
            <h1>Pessoas</h1>
            <table class="table table-striped">
                <thead>
                <th>Nome</th>
                <th>E-Mail</th>
                <th>Ações</th>
                </thead>
                <tbody data-bind="foreach : Pessoas">
                    <tr>
                        <td data-bind="text: nome"></td>
                        <td data-bind="text: email"></td>
                        <td>
                            <button class="btn btn-danger" data-bind="click: deletePessoa">Excluir</button>
                            <button class="btn btn-primary" data-bind="click: editPessoa">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="editPessoas" data-bind="if: Pessoa" class="col-2" style="position:absolute;top:30%; left:40%;background-color:gainsboro;">

            <h1>Editar </h1>
            <form data-bind="submit: updatePessoa">
                <input style="margin:10px 0" name="Nome" type="text" placeholder="Nome" data-bind="value: Pessoa().nome" style="" />
                <input name="Nome" type="text" placeholder="E-mail" data-bind="value: Pessoa().email" style="" />
                <hr />
                <button style="margin:10px" class="btn btn-primary" type="submit">Salvar</button>
                <button class="btn btn-danger" data-bind="click: cancel">Voltar</button>
            </form>
        </div>


    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/knockout/knockout-3.5.1.js" type="text/javascript"></script>




<script type="text/javascript">


    function AppViewModel() {

        var self = this;
        self.id = ko.observable(0);
        self.nome = ko.observable("");
        self.email = ko.observable("");

        var Pessoa = {
            id: self.id,
            nome: self.nome,
            email: self.email
        };

        self.Pessoa = ko.observable();

        self.Pessoas = ko.observableArray([]);

        GetPessoas();

        function GetPessoas() {

            $.ajax({
                type: "GET",
                url: "/Pessoa/GetPessoas",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    self.Pessoas(data);
                },
                error: function(error) {
                    alert(error.status + "<--and--> " + error.statusText);
                }
            });
        };
        //fim

        addPessoa = function() {

            if (Pessoa.nome() != "") {
                $.ajax({
                    type: "POST",
                    url: "/Pessoa/CreatePessoa/",
                    data: ko.toJSON(Pessoa),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function(data) {
                        self.Pessoas.push(data);
                        self.nome("");
                        self.email("");
                        alert("Registro incluído com sucesso");
                    },
                    error: function(data) {
                        alert("Insira um email válido e um nome válido");
                        self.nome("");
                        self.email("");
                    }
                });
            }
            else {
                alert("Informe um nome ");
            }
        };

        deletePessoa = function(Pessoa) {
            if (confirm("Tem certeza que deseja apagar a pessoa?")) {
                var id = Pessoa.id;
                console.log(id);
                $.ajax({
                    type: "DELETE",
                    url: "/Pessoa/DeletePessoa/",
                    data: ko.toJSON(id),
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    success: function(data) {
                        self.Pessoas.remove(Pessoa);
                        alert("Registro excluido com sucesso");
                    },
                    error: function() {
                        alert("Falhou");
                    }
                });
            }
        };

        editPessoa = function(Pessoa) {
            self.Pessoa(Pessoa);
        };

        updatePessoa = function() {
            var pessoa = self.Pessoa;

            console.log(ko.toJSON(pessoa));
            $.ajax({
                type: "PUT",
                url: "/Pessoa/EditPessoa/",
                data: ko.toJSON(pessoa),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(data) {
                    self.Pessoa("");
                    GetPessoas();
                    alert('Registro Atualizado');
                },
                error: function() {
                    alert("Insira um email válido e um nome válido")
                    self.Pessoa("");
                }
            });
        }


        cancel = function() {
            self.Pessoa("");
        }

    }

    ko.applyBindings(new AppViewModel());
</script>

