@model Pessoa

<div>
    <h1>Cadastro de Pessoas</h1>

    <form data-bind="submit: addPessoa" >
        <input name="Id" type="text" data-bind="value: id" disabled="disabled" />
        <input name="Nome" type="text" data-bind="value: nome" />
        <button type="submit">Salvar</button>
    </form>
</div>

<hr />

<div>
    <table>
        <thead>
        <th>Id</th>
        <th>Nome</th>
        </thead>
        <tbody data-bind="foreach : Pessoas">
            <tr>
                <td data-bind="text: id"></td>
                <td data-bind="text: nome"></td>
            </tr>
        </tbody>
    </table>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/knockout/knockout-3.5.1.js" type="text/javascript"></script>




<script type="text/javascript">


    function AppViewModel() {

        var self = this;
        self.id = ko.observable(0);
        self.nome = ko.observable("");

        var Pessoa = {
            id : self.id,
            nome : self.nome
        };

        self.Pessoa = ko.observable();

        self.Pessoas = ko.observableArray([]);

        GetPessoas();

        function GetPessoas() {
            // chamara Ajax para pegar todos os funcionarios
            $.ajax({
                type: "GET",
                url: "/Pessoa/GetPessoas",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    self.Pessoas(data); //Poe a resposta no ObservableArray
                },
                error: function(error) {
                    alert(error.status + "<--and--> " + error.statusText);
                }
            });
        }
        //fim

        addPessoa = function() {

            console.log(Pessoa);
            console.log(ko.toJSON(Pessoa));


            $.ajax({
                type: "POST",
                url: "/Pessoa/CreatePessoa/",                
                data: ko.toJSON(Pessoa), //problema é que não chega pro meu controller essa informação
                contentType: "application/json; charset=utf-8",
                dataType:'json',
                success: function(data) {
                    self.Pessoas.push(data);
                    alert("Registro incluído com sucesso");
                },
                error: function() {
                    alert("Falhou");
                }
            });
        }
    }

    ko.applyBindings(new AppViewModel());
</script>

